In [1]:
import pandas
from sklearn.linear_model import LogisticRegression
import numpy

### lowDim_dataset

In [2]:
low_dim = pandas.read_csv('../data/lowDim_dataset.csv')
low_dim

,Y,A,V1,V2,V3,V4,V5,V6,V7,V8,...,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22
0,19.678858,0,1.59,0.00,0.0,0.00,0.24,1.35,0.73,2.58,...,0.12,0.00,4.55,0.00,1.72,0.00,0.49,0.98,0.00,1.309683
1,17.842989,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.62,...,0.27,0.00,4.87,0.00,0.81,0.27,0.27,0.00,0.00,1.719547
2,22.108788,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2.12,0.00,0.00,0.00,2.12,0.996210
3,15.355899,0,0.00,0.00,0.0,0.56,0.00,0.00,0.00,0.00,...,0.00,0.00,1.12,0.00,0.00,0.00,0.00,0.00,0.00,1.504077
4,16.787813,1,1.81,0.00,0.0,0.00,0.00,0.00,0.00,1.81,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.327864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,23.456961,1,0.00,0.12,0.0,0.00,0.00,0.12,0.00,0.19,...,0.12,0.00,1.74,0.06,1.23,0.00,0.25,0.06,2.26,0.705076
471,18.449855,1,0.77,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.55,0.00,0.77,0.00,0.00,0.77,0.00,1.150572
472,18.646830,1,0.91,0.18,0.0,0.00,0.00,0.00,0.00,3.66,...,0.82,0.00,0.82,0.00,0.45,0.00,0.00,0.00,1.37,0.233490
473,25.131092,0,0.00,0.36,0.0,0.36,0.72,1.08,0.36,0.72,...,0.36,0.36,1.08,0.00,2.53,0.00,0.00,0.00,0.00,2.912351
474,13.700056,0,1.91,0.00,0.0,0.00,0.00,0.00,0.00,1.91,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.209450

In [3]:
X = low_dim.iloc[:, 2:]
A = low_dim['A']

In [4]:
clf = LogisticRegression(random_state=0, solver = 'lbfgs', penalty = 'l2', C = 1.0).fit(X, A)
PS = clf.predict_proba(X)[:,1]
# clf.score(X, A)  # accuracy

In [5]:
stratum = pandas.qcut(PS, [0, 0.2, 0.4, 0.6, 0.8, 1.])
stratum

[(0.355, 0.931], (0.355, 0.931], (0.15, 0.222], (0.113, 0.15], (0.15, 0.222], ..., (0.15, 0.222], (0.15, 0.222], (0.222, 0.355], (0.355, 0.931], (0.15, 0.222]]
Length: 475
Categories (5, interval[float64]): [(0.0073, 0.113] < (0.113, 0.15] < (0.15, 0.222] < (0.222, 0.355] < (0.355, 0.931]]

In [6]:
stratum.categories = ['a', 'b', 'c', 'd', 'e']

In [7]:
stratum

[e, e, c, b, c, ..., c, c, d, e, c]
Length: 475
Categories (5, object): [a < b < c < d < e]

In [8]:
low_dim['stratum'] = stratum

In [9]:
low_dim

,Y,A,V1,V2,V3,V4,V5,V6,V7,V8,...,V14,V15,V16,V17,V18,V19,V20,V21,V22,stratum
0,19.678858,0,1.59,0.00,0.0,0.00,0.24,1.35,0.73,2.58,...,0.00,4.55,0.00,1.72,0.00,0.49,0.98,0.00,1.309683,e
1,17.842989,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.62,...,0.00,4.87,0.00,0.81,0.27,0.27,0.00,0.00,1.719547,e
2,22.108788,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,2.12,0.00,0.00,0.00,2.12,0.996210,c
3,15.355899,0,0.00,0.00,0.0,0.56,0.00,0.00,0.00,0.00,...,0.00,1.12,0.00,0.00,0.00,0.00,0.00,0.00,1.504077,b
4,16.787813,1,1.81,0.00,0.0,0.00,0.00,0.00,0.00,1.81,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.327864,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,23.456961,1,0.00,0.12,0.0,0.00,0.00,0.12,0.00,0.19,...,0.00,1.74,0.06,1.23,0.00,0.25,0.06,2.26,0.705076,c
471,18.449855,1,0.77,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,1.55,0.00,0.77,0.00,0.00,0.77,0.00,1.150572,c
472,18.646830,1,0.91,0.18,0.0,0.00,0.00,0.00,0.00,3.66,...,0.00,0.82,0.00,0.45,0.00,0.00,0.00,1.37,0.233490,d
473,25.131092,0,0.00,0.36,0.0,0.36,0.72,1.08,0.36,0.72,...,0.36,1.08,0.00,2.53,0.00,0.00,0.00,0.00,2.912351,e
474,13.700056,0,1.91,0.00,0.0,0.00,0.00,0.00,0.00,1.91,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.209450,c

In [10]:
summary_df = low_dim[['A', 'stratum', 'Y']].groupby(['A', 'stratum']).mean()
summary_df

                   Y
A stratum
0 a        13.462078
  b        15.978485
  c        16.088905
  d        17.502623
  e        21.383502
1 a        16.062876
  b        19.983014
  c        18.202074
  d        20.195183
  e        24.339359

In [22]:
# import numpy as np
# np.quantile(PS, [0, 0.2, 0.4, 0.6, 0.8, 1.])

In [11]:
summary_df.columns

Index(['Y'], dtype='object')

In [12]:
summary_df.index

MultiIndex([(0, 'a'),
            (0, 'b'),
            (0, 'c'),
            (0, 'd'),
            (0, 'e'),
            (1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (1, 'd'),
            (1, 'e')],
           names=['A', 'stratum'])

In [13]:
summary_df.loc[[(0, 'a'), (1, 'a')]]
#              df.loc[[('c', 'u'), ('a', 'w')]]

                   Y
A stratum
0 a        13.462078
1 a        16.062876

In [14]:
summary_df.loc[pandas.IndexSlice[(1, 'a')]] - summary_df.loc[pandas.IndexSlice[(0, 'a')]]

Y    2.600798
dtype: float64

In [27]:
# (0.0073, 0.113] < (0.113, 0.15] < (0.15, 0.222] < (0.222, 0.355] < (0.355, 0.931]]

In [15]:
strata = ['a', 'b', 'c', 'd', 'e']

In [16]:
ATE = 0
for s in strata:
#     print(summary_df.loc[pandas.IndexSlice[(1, s)]] - summary_df.loc[pandas.IndexSlice[(0, s)]])
    ATE += summary_df.loc[pandas.IndexSlice[(1, s)]] - summary_df.loc[pandas.IndexSlice[(0, s)]]

In [17]:
ATE

Y    14.366913
dtype: float64

In [18]:
ATE /= 5
ATE

Y    2.873383
dtype: float64

In [19]:
low_dim[['A', 'stratum', 'Y']].groupby(['A', 'stratum']).count()

            Y
A stratum
0 a        90
  b        86
  c        74
  d        65
  e        48
1 a         5
  b         9
  c        21
  d        30
  e        47

In [22]:
def ATE_fun(data_path, C):
    data = pandas.read_csv(data_path)
    X = data.iloc[:, 2:]
    A = data['A']
    clf = LogisticRegression(random_state=0, solver = 'lbfgs', penalty = 'l2', C = C, max_iter = 10000).fit(X, A)
    PS = clf.predict_proba(X)[:, 1]
    stratum = pandas.qcut(PS, [0, 0.2, 0.4, 0.6, 0.8, 1.])
    stratum.categories = ['a', 'b', 'c', 'd', 'e']
    data['stratum'] = stratum
    summary_df = data[['A', 'stratum', 'Y']].groupby(['A', 'stratum']).mean()
    ATE = 0
    strata = ['a', 'b', 'c', 'd', 'e']
    for s in strata:
        ATE += summary_df.loc[pandas.IndexSlice[(1, s)]] - summary_df.loc[pandas.IndexSlice[(0, s)]]
    ATE /= 5

    return (ATE.values[0], clf.score(X, A))

In [23]:
ATE_fun('../data/lowDim_dataset.csv', 0.001)

(3.781213942073849, 0.7642105263157895)

In [24]:
ATE_fun('../data/lowDim_dataset.csv', 0.01)

(3.281674082833652, 0.7684210526315789)

In [25]:
ATE_fun('../data/lowDim_dataset.csv', 0.1)

(2.9425093493554497, 0.7810526315789473)

In [26]:
ATE_fun('../data/lowDim_dataset.csv', 1.0)

(2.8733825348107644, 0.7873684210526316)

In [27]:
ATE_fun('../data/lowDim_dataset.csv', 10)

(2.86647485075372, 0.783157894736842)

In [28]:
ATE_fun('../data/lowDim_dataset.csv', 100)

(2.86647485075372, 0.7852631578947369)

In [29]:
ATE_fun('../data/highDim_dataset.csv', 0.001)

(-2.9031864254620374, 0.64)

In [30]:
ATE_fun('../data/highDim_dataset.csv', 0.01)

(-2.7536745024436486, 0.6435)

In [31]:
ATE_fun('../data/highDim_dataset.csv', 0.1)

(-2.6671084266389604, 0.647)

In [32]:
ATE_fun('../data/highDim_dataset.csv', 1)

(-2.7163262249843565, 0.6475)

In [33]:
ATE_fun('../data/highDim_dataset.csv', 10)

(-2.7704030611052084, 0.65)

In [34]:
ATE_fun('../data/highDim_dataset.csv', 100)

(-2.698784377382973, 0.6495)