In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

### lowDim_dataset

In [171]:
low_dim = pd.read_csv('../data/lowDim_dataset.csv')
low_dim

,Y,A,V1,V2,V3,V4,V5,V6,V7,V8,...,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22
0,19.678858,0,1.59,0.00,0.0,0.00,0.24,1.35,0.73,2.58,...,0.12,0.00,4.55,0.00,1.72,0.00,0.49,0.98,0.00,1.309683
1,17.842989,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.62,...,0.27,0.00,4.87,0.00,0.81,0.27,0.27,0.00,0.00,1.719547
2,22.108788,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2.12,0.00,0.00,0.00,2.12,0.996210
3,15.355899,0,0.00,0.00,0.0,0.56,0.00,0.00,0.00,0.00,...,0.00,0.00,1.12,0.00,0.00,0.00,0.00,0.00,0.00,1.504077
4,16.787813,1,1.81,0.00,0.0,0.00,0.00,0.00,0.00,1.81,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.327864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,23.456961,1,0.00,0.12,0.0,0.00,0.00,0.12,0.00,0.19,...,0.12,0.00,1.74,0.06,1.23,0.00,0.25,0.06,2.26,0.705076
471,18.449855,1,0.77,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.55,0.00,0.77,0.00,0.00,0.77,0.00,1.150572
472,18.646830,1,0.91,0.18,0.0,0.00,0.00,0.00,0.00,3.66,...,0.82,0.00,0.82,0.00,0.45,0.00,0.00,0.00,1.37,0.233490
473,25.131092,0,0.00,0.36,0.0,0.36,0.72,1.08,0.36,0.72,...,0.36,0.36,1.08,0.00,2.53,0.00,0.00,0.00,0.00,2.912351
474,13.700056,0,1.91,0.00,0.0,0.00,0.00,0.00,0.00,1.91,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.209450

In [172]:
X = low_dim.iloc[:, 2:]
A = low_dim['A']

In [173]:
clf = LogisticRegression(random_state=0, solver = 'lbfgs', penalty = 'l2', C = 1.0).fit(X, A)
PS = clf.predict_proba(X)[:,1]
PS
# clf.score(X, A)  # accuracy

array([0.62250939, 0.42054935, 0.16195147, 0.1270277 , 0.16660285,
       0.08554458, 0.25204357, 0.30668843, 0.07451489, 0.44612966,
       0.18942892, 0.25357142, 0.13944084, 0.15263005, 0.60626972,
       0.28003698, 0.46069085, 0.43214069, 0.26056677, 0.5100982 ,
       0.1289323 , 0.22212893, 0.1764681 , 0.14069678, 0.32254099,
       0.12708352, 0.09918744, 0.12258413, 0.231815  , 0.39789667,
       0.15764471, 0.67834837, 0.26646669, 0.13954917, 0.23018211,
       0.1350479 , 0.1762332 , 0.09654133, 0.18387092, 0.13790559,
       0.12480243, 0.37967591, 0.5100982 , 0.23719533, 0.7120742 ,
       0.6766166 , 0.11327803, 0.17451354, 0.1624694 , 0.4081866 ,
       0.13975778, 0.17411289, 0.09121665, 0.15202683, 0.12471201,
       0.13132069, 0.13810197, 0.62250939, 0.26458763, 0.28078375,
       0.09011324, 0.45607785, 0.2616126 , 0.24700842, 0.10385496,
       0.34836233, 0.50876337, 0.35479013, 0.13352008, 0.13213822,
       0.27146865, 0.33923746, 0.14262587, 0.15430751, 0.05343367,
       0.44623581, 0.09981075, 0.18292692, 0.33879328, 0.31247419,
       0.11210235, 0.0140731 , 0.10179576, 0.54260271, 0.54170267,
       0.25243785, 0.93108276, 0.11879337, 0.2014094 , 0.24410251,
       0.07179383, 0.07852978, 0.31184457, 0.08925585, 0.22133992,
       0.34836632, 0.84301402, 0.52500975, 0.01619479, 0.38780984,
       0.14866481, 0.22521112, 0.27064485, 0.45517787, 0.07451489,
       0.09088202, 0.13878734, 0.71362803, 0.12871523, 0.27534352,
       0.27116673, 0.11689689, 0.73237836, 0.07451489, 0.39665962,
       0.13336269, 0.14651385, 0.2658253 , 0.19117953, 0.1191812 ,
       0.30432254, 0.10450671, 0.07451489, 0.12198476, 0.12404657,
       0.02436537, 0.19568391, 0.15192753, 0.1136499 , 0.08554458,
       0.39741212, 0.15634259, 0.11916991, 0.14366735, 0.82364411,
       0.50135117, 0.26051965, 0.30973774, 0.2289439 , 0.12708352,
       0.10992561, 0.26153375, 0.55798157, 0.35441394, 0.10479826,
       0.07451489, 0.107495  , 0.15578576, 0.10032949, 0.23511676,
       0.17974294, 0.09922555, 0.29045734, 0.45478171, 0.12695004,
       0.1390775 , 0.18893297, 0.19456498, 0.16667891, 0.33094486,
       0.25106643, 0.37024572, 0.11002924, 0.15884443, 0.10629873,
       0.44623581, 0.11017682, 0.09011324, 0.17904825, 0.32575113,
       0.11798295, 0.52955066, 0.13141133, 0.30097476, 0.07451489,
       0.07451489, 0.11130411, 0.23043975, 0.16036153, 0.33952029,
       0.10284388, 0.34687127, 0.48070579, 0.36549476, 0.25258186,
       0.49105176, 0.09097157, 0.08710859, 0.31860791, 0.07451489,
       0.15553327, 0.84923784, 0.07451489, 0.24341191, 0.24677673,
       0.13213822, 0.12768816, 0.17373027, 0.12787017, 0.10139381,
       0.17625445, 0.08554458, 0.07724575, 0.17997591, 0.05424528,
       0.13626689, 0.10518242, 0.10284388, 0.63452598, 0.124692  ,
       0.11288957, 0.27139699, 0.03472528, 0.19503729, 0.32726673,
       0.24677673, 0.16067907, 0.2974    , 0.03549993, 0.36897274,
       0.16489627, 0.16085949, 0.09097157, 0.08478513, 0.2790815 ,
       0.86938732, 0.41182615, 0.36696613, 0.43914303, 0.19929707,
       0.20235151, 0.20243407, 0.15467885, 0.07451489, 0.24403298,
       0.37219552, 0.42085938, 0.08413147, 0.15811804, 0.09424727,
       0.13162609, 0.3422386 , 0.18175889, 0.13810197, 0.4672663 ,
       0.21929579, 0.4672663 , 0.19499163, 0.10153556, 0.11820726,
       0.20800217, 0.21195908, 0.33490033, 0.07451489, 0.38074357,
       0.15017849, 0.15138644, 0.43611347, 0.67142436, 0.15151889,
       0.19195487, 0.07451489, 0.11281856, 0.08708456, 0.1287375 ,
       0.09163509, 0.29700892, 0.1136499 , 0.20800217, 0.14424295,
       0.70243131, 0.55260383, 0.45517787, 0.09097157, 0.29557894,
       0.49989303, 0.37024572, 0.10785736, 0.11833328, 0.15967168,
       0.3899747 , 0.28060453, 0.12213904, 0.00830047, 0.15426681,
       0.28051075, 0.13487987, 0.81584195, 0.07887272, 0.12661004,
       0.70351775, 0.25792188, 0.26335678, 0.0835686 , 0.11798295,
       0.10479062, 0.18073812, 0.1624694 , 0.13487734, 0.18073064,
       0.18548059, 0.6975398 , 0.35493556, 0.12422781, 0.13975778,
       0.27581115, 0.36001142, 0.18953385, 0.14932486, 0.07324168,
       0.11509564, 0.06483732, 0.14583416, 0.15764471, 0.12748815,
       0.32741738, 0.37727389, 0.33993761, 0.12236957, 0.13328234,
       0.58397976, 0.34535445, 0.38074357, 0.09679613, 0.33354879,
       0.40480549, 0.27736229, 0.15652321, 0.23926411, 0.19389455,
       0.12422004, 0.14215636, 0.31382651, 0.11266979, 0.14306595,
       0.17530601, 0.12043289, 0.03706509, 0.19785529, 0.27463719,
       0.17214618, 0.1233463 , 0.07451489, 0.08554458, 0.11437909,
       0.23989329, 0.20007664, 0.38526923, 0.15649875, 0.10785736,
       0.3514132 , 0.44004098, 0.18526241, 0.28679583, 0.13563329,
       0.38001627, 0.20636689, 0.17156714, 0.13087064, 0.23341072,
       0.37261872, 0.26168333, 0.16364957, 0.07935454, 0.11148518,
       0.28324286, 0.51630973, 0.14486634, 0.44815916, 0.14062459,
       0.13615896, 0.16317491, 0.38379214, 0.21123114, 0.09097157,
       0.23507169, 0.15841018, 0.19066654, 0.19793038, 0.40386002,
       0.18766459, 0.12055726, 0.15452917, 0.09097157, 0.12422004,
       0.13992027, 0.13287566, 0.21896928, 0.28679583, 0.33302278,
       0.22550463, 0.09570803, 0.11266979, 0.29716672, 0.16968469,
       0.15966245, 0.21921292, 0.30183768, 0.53140989, 0.12293466,
       0.15033667, 0.52000805, 0.60573827, 0.12339252, 0.13586994,
       0.11133238, 0.15202683, 0.26814838, 0.39990307, 0.13312171,
       0.14061521, 0.07451489, 0.41707212, 0.13225514, 0.08041271,
       0.2455547 , 0.34330003, 0.31125497, 0.07451489, 0.12147737,
       0.19760992, 0.51333539, 0.41742444, 0.12632279, 0.52232852,
       0.15286954, 0.07666318, 0.14076534, 0.09781532, 0.23982148,
       0.13992027, 0.58697352, 0.38556733, 0.44987635, 0.10052581,
       0.21207711, 0.10086955, 0.08230229, 0.12292753, 0.1939595 ,
       0.10555325, 0.13949253, 0.5118821 , 0.11306342, 0.07451489,
       0.2544176 , 0.18170526, 0.36958209, 0.13872197, 0.18767565,
       0.22191763, 0.1929228 , 0.36737498, 0.2317522 , 0.23887006,
       0.10655019, 0.4081866 , 0.12872647, 0.12756394, 0.15013392,
       0.22226169, 0.07652706, 0.05587679, 0.36958209, 0.19784383,
       0.40386002, 0.27574684, 0.09722722, 0.55014646, 0.19324928,
       0.20406429, 0.2004226 , 0.24552235, 0.44243968, 0.1793751 ])

In [36]:
stratum = pd.qcut(PS, [0, 0.2, 0.4, 0.6, 0.8, 1.])
stratum

[(0.355, 0.931], (0.355, 0.931], (0.15, 0.222], (0.113, 0.15], (0.15, 0.222], ..., (0.15, 0.222], (0.15, 0.222], (0.222, 0.355], (0.355, 0.931], (0.15, 0.222]]
Length: 475
Categories (5, interval[float64]): [(0.0073, 0.113] < (0.113, 0.15] < (0.15, 0.222] < (0.222, 0.355] < (0.355, 0.931]]

In [37]:
stratum.categories = ['a', 'b', 'c', 'd', 'e']

In [38]:
stratum

[e, e, c, b, c, ..., c, c, d, e, c]
Length: 475
Categories (5, object): [a < b < c < d < e]

In [39]:
low_dim['stratum'] = stratum

In [40]:
low_dim

,Y,A,V1,V2,V3,V4,V5,V6,V7,V8,...,V14,V15,V16,V17,V18,V19,V20,V21,V22,stratum
0,19.678858,0,1.59,0.00,0.0,0.00,0.24,1.35,0.73,2.58,...,0.00,4.55,0.00,1.72,0.00,0.49,0.98,0.00,1.309683,e
1,17.842989,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.62,...,0.00,4.87,0.00,0.81,0.27,0.27,0.00,0.00,1.719547,e
2,22.108788,1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,2.12,0.00,0.00,0.00,2.12,0.996210,c
3,15.355899,0,0.00,0.00,0.0,0.56,0.00,0.00,0.00,0.00,...,0.00,1.12,0.00,0.00,0.00,0.00,0.00,0.00,1.504077,b
4,16.787813,1,1.81,0.00,0.0,0.00,0.00,0.00,0.00,1.81,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.327864,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,23.456961,1,0.00,0.12,0.0,0.00,0.00,0.12,0.00,0.19,...,0.00,1.74,0.06,1.23,0.00,0.25,0.06,2.26,0.705076,c
471,18.449855,1,0.77,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,1.55,0.00,0.77,0.00,0.00,0.77,0.00,1.150572,c
472,18.646830,1,0.91,0.18,0.0,0.00,0.00,0.00,0.00,3.66,...,0.00,0.82,0.00,0.45,0.00,0.00,0.00,1.37,0.233490,d
473,25.131092,0,0.00,0.36,0.0,0.36,0.72,1.08,0.36,0.72,...,0.36,1.08,0.00,2.53,0.00,0.00,0.00,0.00,2.912351,e
474,13.700056,0,1.91,0.00,0.0,0.00,0.00,0.00,0.00,1.91,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.209450,c

In [41]:
summary_df = low_dim[['A', 'stratum', 'Y']].groupby(['A', 'stratum']).mean()
summary_df

                   Y
A stratum
0 a        13.462078
  b        15.978485
  c        16.088905
  d        17.502623
  e        21.383502
1 a        16.062876
  b        19.983014
  c        18.202074
  d        20.195183
  e        24.339359

In [9]:
# import numpy as np
# np.quantile(PS, [0, 0.2, 0.4, 0.6, 0.8, 1.])

array([0.00830047, 0.11287537, 0.1502734 , 0.22200215, 0.35481921,
       0.93108276])

In [50]:
summary_df.columns

Index(['Y'], dtype='object')

In [51]:
summary_df.index

MultiIndex([(0, 'a'),
            (0, 'b'),
            (0, 'c'),
            (0, 'd'),
            (0, 'e'),
            (1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (1, 'd'),
            (1, 'e')],
           names=['A', 'stratum'])

In [64]:
summary_df.loc[[(0, 'a'), (1, 'a')]]
#              df.loc[[('c', 'u'), ('a', 'w')]]

                   Y
A stratum
0 a        13.462078
1 a        16.062876

In [63]:
summary_df.loc[pd.IndexSlice[(1, 'a')]] - summary_df.loc[pd.IndexSlice[(0, 'a')]]

Y    2.600798
dtype: float64

In [ ]:
# (0.0073, 0.113] < (0.113, 0.15] < (0.15, 0.222] < (0.222, 0.355] < (0.355, 0.931]]

In [66]:
strata = ['a', 'b', 'c', 'd', 'e']

In [80]:
ATE = 0
for s in strata:
#     print(summary_df.loc[pd.IndexSlice[(1, s)]] - summary_df.loc[pd.IndexSlice[(0, s)]])
    ATE += summary_df.loc[pd.IndexSlice[(1, s)]] - summary_df.loc[pd.IndexSlice[(0, s)]]

In [81]:
ATE

Y    14.366913
dtype: float64

In [83]:
ATE /= 5
ATE

Y    2.873383
dtype: float64

In [69]:
low_dim[['A', 'stratum', 'Y']].groupby(['A', 'stratum']).count()

            Y
A stratum
0 a        90
  b        86
  c        74
  d        65
  e        48
1 a         5
  b         9
  c        21
  d        30
  e        47

In [6]:
def ATE_fun(data_path, C):
    data = pd.read_csv(data_path)
    X = data.iloc[:, 2:]
    A = data['A']
    clf = LogisticRegression(random_state=0, solver = 'lbfgs', penalty = 'l2', C = C, max_iter = 10000).fit(X, A)
    PS = clf.predict_proba(X)[:, 1]
    stratum = pd.qcut(PS, [0, 0.2, 0.4, 0.6, 0.8, 1.])
    stratum.categories = ['a', 'b', 'c', 'd', 'e']
    data['stratum'] = stratum
    summary_df = data[['A', 'stratum', 'Y']].groupby(['A', 'stratum']).mean()
    ATE = 0
    strata = ['a', 'b', 'c', 'd', 'e']
    for s in strata:
        ATE += summary_df.loc[pd.IndexSlice[(1, s)]] - summary_df.loc[pd.IndexSlice[(0, s)]]
    ATE /= 5

    return (ATE.values[0], clf.score(X, A))

In [7]:
ATE_fun('../data/lowDim_dataset.csv', 0.001)

(3.781213942073849, 0.7642105263157895)

In [8]:
ATE_fun('../data/lowDim_dataset.csv', 0.01)

(3.281674082833652, 0.7684210526315789)

In [9]:
ATE_fun('../data/lowDim_dataset.csv', 0.1)

(2.9425093493554497, 0.7810526315789473)

In [10]:
ATE_fun('../data/lowDim_dataset.csv', 1.0)

(2.8733825348107644, 0.7873684210526316)

In [11]:
ATE_fun('../data/lowDim_dataset.csv', 10)

(2.86647485075372, 0.783157894736842)

In [12]:
ATE_fun('../data/lowDim_dataset.csv', 100)

(2.86647485075372, 0.7852631578947369)

In [13]:
ATE_fun('../data/highDim_dataset.csv', 0.001)

(-2.9031864254620374, 0.64)

In [14]:
ATE_fun('../data/highDim_dataset.csv', 0.01)

(-2.7536745024436486, 0.6435)

In [15]:
ATE_fun('../data/highDim_dataset.csv', 0.1)

(-2.6671084266389604, 0.647)

In [16]:
ATE_fun('../data/highDim_dataset.csv', 1)

(-2.7163262249843565, 0.6475)

In [17]:
ATE_fun('../data/highDim_dataset.csv', 10)

(-2.7704030611052084, 0.65)

In [18]:
ATE_fun('../data/highDim_dataset.csv', 100)

(-2.698784377382973, 0.6495)